- name: (DOWNLOAD-HTTP) Get HTTP headers
  uri:
    url: "{{ target_url }}"
    method: HEAD
    return_content: false
  register: http_meta
  tags:
    - always

- name: (DOWNLOAD-HTTP) Get content length and status
  set_fact:
    verified: "{{ http_meta.status == 200 and http_meta.content_length | int > 0 }}"
    metadata:
      protocol: "http"
      url: "{{ target_url }}"
      content_length: "{{ http_meta.content_length }}"
      last_modified: "{{ http_meta.last_modified }}"
      status: "{{ http_meta.status }}"
  tags:
    - always