- name: (DOWNLOAD-PARSEURL) Extract URL components using regex_findall
  set_fact:
    url_parts: "{{ target_url | regex_findall('(?P<protocol>\\w+)://(?:(?P<user>[^@]+)@)?(?P<host>[^:/]+)(?::(?P<port>\\d+))?(?P<path>/.*)') }}"

- name: (DOWNLOAD-PARSEURL) Set structured facts from regex match
  set_fact:
    protocol: "{{ url_parts[0][0] }}"
    user: "{{ url_parts[0][1] | default('') }}"
    host: "{{ url_parts[0][2] }}"
    port: "{{ url_parts[0][3] | default('22') }}"
    path: "{{ url_parts[0][4] }}"